.select__market {
  padding: 1rem;
  min-width: 320px;
  max-width: 500px;
  width: 100%;
}

.select__header {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}

.select__search--input {
  height: 1.8rem;
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  position: relative;
}

.select__search--input input {
  background-color: transparent;
  margin-left: 1.5rem;
  height: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 1rem;
  color: white;
}

.select__search--input svg {
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
}

.select__tabs {
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.85rem;
}

.select__tabs > div {
  width: 3rem;
  height: 1.85rem;
  background-color: var(--bg-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}

.select__tabs > div:first-child {
  background-color: var(--soft-gray);
  color: white;
}

.select__lists--details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}

.select__lists--details > div {
  font-size: 0.85rem;
}

.select__list--icon svg {
  width: 2.15rem;
}

.select__list--name {
  min-width: 4.7rem;
}

.select__list--percent {
  color: var(--green);
}
